body{
    background-color: green;
}
header{
    text-align: right;
    margin: 0px;
}

.navigation-bar{
    /*color: #ffffff;*/
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0%;
    background-color: red;
    width: 100vw;
    top: 0;
    position: fixed;
   
}
.navigation-bar ul li{
   text-decoration: none;
   top: 0;
   justify-content: end;
   border: 0px;
   display: inline;
}
.navigation-bar ul li a{
    text-decoration: none;
    color: #000;
    padding: 30px;
    font-size: 30px;
    margin: 0px 30px;
    top: 0;
    justify-content: end;
    display: inline;
    text-decoration: none;
    
}
#about-section{
    align-items: center;
}


.container{
    display: flex;
    
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 120px;
    justify-content: space-evenly;
}
.div-2 p{
    color: black;
    padding: 0px 30px 0px 30px;
}
.div-2 button{
    border-radius: 15px;
    border: 10px;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    
}
.div-4 button{
    margin: 10px 40px;
    cursor: pointer;
}
.content img{
    border-radius: 50%;
}
.download-cv button{
   
}
.contact-info button{
    background-color: #000000;
    color: #ffffff;
    
}
.div-3{
    display: flex;
    padding: 10px 0px;
    margin: 10px;
}
.content{
    display: flex;
    padding: 10px;
}
.div-6 button{
    border-radius: 30px;
    cursor: pointer;
    background-color: #ffffff;
    padding: 35px;
}
.footer-container{
    justify-content: center;
}  
.footer-container ul li{
    display: inline;
    
}
.footer-container ul li a{
    justify-content: space-evenly;
    text-decoration: none;
}
.experience-section{
}
.container{
    align-items: center;
}
.projects-section{
    text-align: justify;
}
@media (max-width: 780px){
    .container{
        display: flex;
        flex-direction: column;
    }
}